<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623079132360-lbjpsmcul9184q8a7dsalt4fp6treq5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623079132360-lbjpsmcul9184q8a7dsalt4fp6treq5e</string>
	<key>API_KEY</key>
	<string>AIzaSyDsYAq8jKqOQrsYdKcAEHnwMBd86wxlj30</string>
	<key>GCM_SENDER_ID</key>
	<string>623079132360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.SmartGarden</string>
	<key>PROJECT_ID</key>
	<string>smart-garden-d6653</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-garden-d6653.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623079132360:ios:9d597704977de2a3ee29fd</string>
	<key>DATABASE_URL</key>
	<string>https://smart-garden-d6653.firebaseio.com</string>
</dict>
</plist>